{% extends "base.html" %}
{% load static %}

{% block content %}
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<body class="text-center">
    <main class="form-signin w-100 m-auto">
        {% if user.is_authenticated %}
            <style>
                .token {
                    display: flex;
                    align-items: center;
                }
                .save-icon:hover {
                    cursor: pointer;
                }
            </style>

            <form action="{% url 'account:index' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="zip" class="form-label">Upload zip file</label>
                    <input type="file" class="form-control" id="zip" name="zip" accept=".zip" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        
            <a href="{% url 'account:logout' %}" class="btn btn-primary">Logout</a>
        {% else %}
            <a href="{% url 'account:signup' %}" class="btn btn-primary btn-lg btn-block">Sign up</a>
            <a href="{% url 'account:login' %}" class="btn btn-primary btn-lg btn-block">Log in</a>
        {% endif %}
    </main>
</body>
{% endblock content %}
