{% extends "base.html" %}
{% load static %}

{% block content %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<body class="text-center">
    <main class="form-signin w-100 m-auto">
        <form action="{% url 'account:login' %}" method="post">
            {% csrf_token %}
            <img class="mb-4" src="{% static 'images/logo.png' %}" alt="" width="72" height="72">
            <h1 class="h3 mb-3 fw-normal">Please log in</h1>
    
            <div class="form-floating">
                <input
                    id="floatingInput"
                    name="username"
                    type="text"
                    class="form-control"
                    required
                    placeholder="Username"
                    autocomplete="off"
                >
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input
                    id="floatingPassword"
                    name="password"
                    type="password"
                    class="form-control"
                    required
                    placeholder="Password"
                    autocomplete="off"
                >
                <label for="floatingPassword">Password</label>
            </div>

            <p id="error-message" class="text-danger">{{ error }}</p>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2022 OVAAS</p>
        </form>
    </main>
</body>
{% endblock content %}
