{% extends "base.html" %}
{% load static %}

{% block content %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<body class="text-center">
    <main class="form-signin w-100 m-auto">
        <form action="{% url 'account:signup' %}" id="signup" method="post">
            {% csrf_token %}
            <img class="mb-4" src="{% static 'images/logo.png' %}" alt="" width="72" height="72">
            <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
    
            <div class="form-floating">
                <input
                    id="floatingInput"
                    name="username"
                    type="text"
                    class="form-control"
                    required
                    placeholder="Username"
                    autocomplete="off"
                >
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input
                    id="floatingPassword"
                    name="password"
                    type="password"
                    class="form-control"
                    required
                    placeholder="Password"
                    autocomplete="off"
                >
                <label for="floatingPassword">Password</label>
            </div>

            <p id="error-message" class="text-danger">{{ error }}</p>

            <div class="w-100 btn btn-lg btn-primary" onclick="submit()">Sign up</div>
            <p class="mt-5 mb-3 text-muted">&copy; 2022 OVAAS</p>
        </form>
    </main>
    <script>
        function submit() {
            // const usernameRegex = /^[a-zA-Z0-9]([._-](?![._-])|[a-zA-Z0-9]){3,18}[a-zA-Z0-9]$/;
            // // passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
            // const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,}$/;
            // const username = document.getElementById("signup").username.value;
            // const password = document.getElementById("signup").password.value;
            // console.log(usernameRegex.test(username));
            // document.getElementById("signup").password.classList.remove("is-invalid");

            // if (!usernameRegex.test(username)) {
            //     document.getElementById("signup").username.classList.add("is-invalid");
            //     document.getElementById("signup").username.classList.add("for-error-border");
            //     document.getElementById("error-message").innerHTML = "Username must be at least 4 characters long and can contain only letters, numbers, and the following characters.";
            //     return;
            // }
            // document.getElementById("error-message").innerHTML = "";
            // document.getElementById("signup").username.classList.remove("is-invalid");
            // document.getElementById("signup").username.classList.remove("for-error-border");

            // if (!passwordRegex.test(password)) {
            //     document.getElementById("signup").password.classList.add("is-invalid");
            //     document.getElementById("error-message").innerHTML = "Password must be at least 8 characters long and can contain only letters, numbers, and the following characters: @$!%*?&";
            //     return;
            // }
            // document.getElementById("signup").password.classList.remove("is-invalid");
            document.getElementById("signup").submit();
        }
    </script>
</body>
{% endblock content %}
